body, html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0px;
    padding: 0;
    overflow: hidden; /*  Disable scrollbars */
    background-color: black;
}
#container {
    position: relative;
}

.timer-container {
    position: fixed;
    top: 4px;
    right: 4px;
    background: none;
    color: rgb(251, 255, 1);
    padding: 5px;
    z-index: 5;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    
    background-color: #513dc2;
    border: #000000; 
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.781); 
    outline: black solid 2px;
}

.error-counter {
    width: 1vw;
	height: 1vw;
    border-radius: 50%;
	box-shadow: 0px 0px 12px rgba(255, 0, 0, 0.781);
	border: 1px solid rgba(216, 35, 35, 0.842);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}

.error-counter:hover {
    box-shadow: 0px 0px 12px rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}


.note-grid {
    transform-origin: center center;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1vw; 
    height: 1vw; 
}


.note {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3em;
    flex: 1;
    margin: auto;
    width: 1.3em;  /* Fixed width */
    height: 1.3em; /* Fixed height */

    /* Colors */
    color: #FF11FF;
    /* color: #f04b4bd7; */
    transition: all 0.2s ease-in-out;

    /* Hover */
    cursor: pointer;

    /* Animation */
    animation: note 0.5s ease-in-out;
    animation-fill-mode: forwards;
    
}
